{% extends "base.html" %}

{% block content %}
    <h1>OCR works history</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Characters Processed</th>
          <th scope="col">File Type</th>
        </tr>
      </thead>
      <tbody>
        {% for metadata in user_metadata %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ metadata.upload_at }}</td>
          <td>{{ metadata.name }}</td>
          <td>{{ metadata.chars }}</td>
          <td>{{ metadata.file_type }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No OCR works found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="container pages">
    <nav aria-label="...">
        {% if user_metadata.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in user_metadata.paginator.page_range %}
                    {% if authors.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}
