{% extends "base.html" %}

{% block title %}
Help Page
{% endblock %}

{% load static %}

{% block content %}
<div class="help-page">
    <h1>Need Assistance?</h1>
    <p>If you're looking to improve the quality of your OCR results, please refer to documentation, it has some great tips and tricks. Check out the <a href="https://tesseract-ocr.github.io/tessdoc/ImproveQuality.html" target="_blank">Tesseract OCR quality improvement guide</a> for detailed information.</p>
    
    <h3>Contact Us</h3>
    <p>If you have any problems, please don't hesitate to reach out at <a href="mailto:aivaras1008@gmail.com">aivaras1008@gmail.com</a>. Our team is always eager to help, and we love hearing from you – even if it's just to share a good joke or a funny cat video.</p>
    <img src="{% static 'wizard.png' %}" alt="Wizard Image" style="width: 300px; height: auto;">
</div>
{% endblock %}
