{% extends "base.html" %}

{% block title %}OCR Reader{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Welcome to WIZARD!</h1>
    <p class="lead">Transforming pixels into prose, one document at a time! 🧙‍♂️</p>
    <p>From image to text, we've got your docs decoded. Give us an image, and we'll give you its story. OCR magic at its finest!</p>
    {% if user.is_authenticated %}
        <a href="{% url 'upload' %}" class="btn btn-primary btn-lg">Upload a File</a>
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to upload files.</p>
    {% endif %}
</div>
{% endblock %}
